package ${packageName}.zax.feign.dto;

#foreach($importPkg in $importList)
import ${importPkg};
#end
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.experimental.Accessors;

import java.io.Serializable;

/**
 * ${functionName}
 * 注：入参/出参业务对象
 *
 * @author ${author}
 * @gen ${datetime}
 */
@Data
@Accessors(chain = true)
@ApiModel("${functionName} DTO")
public class ${ClassName}DTO implements Serializable {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if("$!column.columnComment" != "")
    @ApiModelProperty(value = "${column.columnComment}")
#end
    private $column.javaType $column.javaField;

#end
}
