package ${packageName}.zax.feign.dto;

#foreach($importPkg in $importList)
import ${importPkg};
#end
import ${packageName}.zax.feign.common.PageInput;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.experimental.Accessors;

/**
 * ${functionName} 入参
 *
 * @author ${author}
 * @gen ${datetime}
 */
@Data
@Accessors(chain = true)
@ApiModel("${functionName} 查询入参")
public class ${ClassName}QueryDTO extends PageInput {

    private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
#if($column.query)
#if("$!column.columnComment" != "")
    @ApiModelProperty(value = "${column.columnComment}")
#end
    private $column.javaType $column.javaField;

#end
#end
}
